.chat-main
  .group-info
    .group-info__details
      .group__name
        test
      .group__members
        Member : masa
    .group-info__Edit
      = link_to "#", class: "edit--btn" do
        Edit
  .messages
    .messages__details
      .messages__details__upper
        .messages__details__upper__contributor
          masa
        .messages__details__upper__date
          2020/03/21(Sat) 19:00:00
      .messages__details__text
        おはよう！

  .message-form
    .message-form--input-box
      %input.message-form--input-box-text{:placeholder => "type a message", :type => "text"}
        %label{class: "image__btn"}
          = icon('far', 'image')
          %input{type: "file", class: "image__btn--image"}
    %input.message-form--submit-btn{:type => "submit", :value => "Send"}


