.messages__details{data: {message: {id: message.id}}}
  .messages__details__upper
    .messages__details__upper__contributor
      = message.user.name
    .messages__details__upper__date
      = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
  .messages__details__text
    - if message.content.present?
      %p.messages__details__text__content
        = message.content
    = image_tag message.image.url, class: 'messages__details__text__image' if message.image.present?