.side-bar
  .user-box
    .user-box__top-items
      .user-box__top-items__name 
        masa
        .user-box__top-items__name__icons
          .icon--edit
            = link_to "#", class: "icons__btn" do
              = icon('far', 'edit')
          .icon--cod
            = link_to "#", class: "icons__btn" do
              = icon('fas', 'cog')
  .group-list
    .group-list__group
      .group-list__group-name
        techcamp
      .group-list__group-message
        メッセージあると思った？ないんだなそれがｗ
