.side-bar
  .side-bar__user_name
    .side-bar__user_name--top-items
      .side-bar__user_name--top-items__name 
        masa
        .side-bar__user_name--top-items__icons
          .icon--edit
            = link_to "#", class: "icons__btn" do
              = icon('far', 'edit')
          .icon--cod
            = link_to "#", class: "icons__btn" do
              = icon('fas', 'cog')
  .side-bar__group-list
    .side-bar__group-list--group
      .side-bar__group-list--group-name
        techcamp
      .side-bar__group-list--group-message
        メッセージないんごｗｗｗ
    .side-bar__group-list--group
      .side-bar__group-list--group-name
        techcamp
      .side-bar__group-list--group-message
        メッセージないんごｗｗｗ
    .side-bar__group-list--group
      .side-bar__group-list--group-name
        techcamp
      .side-bar__group-list--group-message
        メッセージないんごｗｗｗ