* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
}

.side-bar {
  height: 100vh;
  width: 300px;
  background-color: #2f3e51;
  &__user_name {
    background-color: #253141;
    height: 100px;
    display: flex;
    align-items: center;
    &--top-items {
      height: 20px;
      width: 260px;
      background-color: #253141;
      margin: auto;
      &__name {
        display: flex;
        justify-content: space-between;
        line-height: 20px;
        color:#ffffff;
        font-size: 16px;
        font-weight: bold;
      }
      &__icons {
        width: 60px;
        display: flex;
        justify-content: flex-end;
      }
    }
  }
  &__group-list {
    height: calc(100vh - 100px);
    background-color: #2f3e51;
    &--group {
      height: 65px;
      &-name {
        margin:20px 20px 5px 20px;
        color: #ffffff;
        font-size: 15px;
        font-weight: bold;
      }
      &-message {
        color: #ffffff;
        font-size: 11px;
        margin: 0 20px;
        font-weight: bold;
      }
    }
  }
}
.icon--edit {
  margin-right: 5px;
}
.icons__btn {
  text-decoration: none;
  color: #ffffff;
}

.edit--btn {
  text-decoration: none;
  line-height: 40px;
  color: #38aef0;
}

.chat-main {
  height: 100vh;
  width: calc(100vw - 300px);
  background-color: #ffffff;
  &__group-info {
    background-color: #ffffff;
    height: 100px;
    border-bottom: 1px solid #eeeeee;
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    &-details {
      height: 100px;
      &--group-name {
        margin: 35px 0 15px 0;
        font-size: 20px;
        color: #333333;
      }
      &--members {
        color: #999999;
        font-size: 12px;
      }
    }
    &--Edit {
      height: 40px;
      width: 72px;
      border: solid 1px #38aef0;
      font-size: 16px;
      color: #38aef0;
      text-align: center;
      margin-top: 28px;
    }
  }
  &__message {
    background-color: #fafafa;
    height: calc(100vh - 190px);
    padding: 46px 40px;
    &--details {
      height: 65px;
      margin-bottom: 40px;
      &__upper {
        display: flex;
        &--contributor {
          color: #333333;
          font-size: 16px;
          font-weight: bold;
        }
        &--date {
          margin-left: 10px;
          color: #999999;
          font-size: 12px;
        }
      }
      &-text {
        font-size: 14px;
        color: #434A54;
        margin-top: 12px;
      }
    }
  }
  &__message-form {
    background-color: #d2d2d2;
    height: 90px;
    &--input-box {
      height: 50px;
      width: 100vw;
    }
  }
}

.image__btn {
  text-decoration: none;
}